<div class="beerlist">
    <img class="beerImage" src="{{this.image_url}}" />
    <h1 class="name">{{this.name}}</h1>
    <h2 class="tagline">{{this.tagline}}</h2>
    <p class="description">{{this.description}}</p>
    <h4 class="foodPair">Food Pairing</h4>
    <ul class="foodPairing">
        <li>{{this.food_pairing}}</li>
    </ul>
    <p class="brewersTips"><b>Brewers Tips:</b> {{this.brewers_tips}}</p>
</div>